# Core dependencies
pytest
requests
selenium
webdriver_manager
pytest-ordering

# Mocking and stubbing
requests-mock

# Retry mechanism
tenacity

# HTML reporting for pytest
allure-pytest

# Appium 
Appium-Python-Client
